@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(abstract.gif);
  background-size: cover;
  overflow: ;
}
.LGM {
  font-size: 80px;
  color: rgb(24, 21, 3);
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-top: 15px;
  position: relative;
  /* width: ; */
  left: 2%;
  letter-spacing: 5px;
  display: flex;
}
.get-users {
  font-size: 42px;
  font-weight: bold;
  margin-left: 52%;
  /* margin-bottom: 25px; */
  background-color: transparent;
  color: rgb(194, 9, 9);
  transition: transform 0.2s ease-in;
  overflow: hidden;
  padding: 5px;
  font-weight: bold;
  border: none;
text-align: center;
}
.get-users:hover {
  transform: scale(1.1);
}
.loader {
  margin: 0 auto;
}
.avatar {
  display: inline-block;
  width: 50%;
  height: auto;
}

.user-item {
  display: inline-flex;
  margin-bottom: 15px;
  background-color: transparent;
  width: 40rem;
  margin-left: 5%;
  color: #000000;
  font-size: large;
  font-size: larger;
  /* border: 2px solid black; */
}
.right-section {
  display: inline;
  margin-left: 25px;
  font-size: larger;
}

.loader {
  width: 200px;
  height: 200px;
  background-image: url(Spinner.gif);
  background-size: cover;
  margin-left: 41.5%;
}

